body {
   align-content: center;
}

.styleH {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5%;
    border: 8px solid #307D7E;
    border-radius: 15px;
    background:  linear-gradient( #4C787E,#81D8D0,#48CCCD,#43BFC7,#307D7E); 
    /* background:  linear-gradient( #4C787E,#7DFDFE,#307D7E);  */
    
}
.sytleTitle {
    font-family: 'Bungee Inline', cursive;
    background: transparent;
    text-align: center;
    font-size:600%;
    margin: 0%;
    padding: 0%;
}

.styleBG {
    margin: 2%;
    padding: 2%;
    border: 8px solid #78C7C7;
    border-radius: 20px;
    /* background:linear-gradient( #7E354D,#7D0582,#800517,#7F525D) */
}

.clsButton {
    width: 100%;
    margin: 3%;
    
}

.clsImgDiv {
    float: left;
    padding: 1%;
}

.clsButtonStyle{
    background-color: blue;
}

.clsImage {
    width: 85%;
    /* height:90%; */
} 